/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  box-sizing: border-box;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bitter Regular'), local('Bitter-Regular'), url(https://fonts.gstatic.com/s/bitter/v15/rax8HiqOu8IVPmn7f4xs.ttf) format('truetype');
}
@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Staatliches Regular'), local('Staatliches-Regular'), url(https://fonts.gstatic.com/s/staatliches/v3/HI_OiY8KO6hCsQSoAPmtMYebvpU.ttf) format('truetype');
}
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Yantramanav Regular'), local('Yantramanav-Regular'), url(https://fonts.gstatic.com/s/yantramanav/v5/flU8Rqu5zY00QEpyWJYWN5fzXeM.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
html,
body {
  height: 100%;
}
body {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: lavender;
}
header {
  height: 5%;
  background: #61d49a;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1%;
}
@media (max-width: 500px) {
  header nav {
    display: flex;
    height: 100%;
  }
}
header nav a {
  color: blue;
  font-family: 'Yantramanav', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
}
header nav a:hover {
  color: white;
}
header nav a:visited {
  color: none;
}
.intro {
  display: flex;
  padding: 4%;
  height: 40%;
  background-image: url(../bg-img2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Bitter', serif;
}
@media (max-width: 500px) {
  .intro {
    flex-direction: column;
  }
}
.intro h1 {
  font-family: 'Yantramanav', sans-serif;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .intro h1 {
    margin-bottom: 4%;
  }
}
.intro p {
  margin-right: 5%;
}
@media (max-width: 500px) {
  .intro p {
    margin-bottom: 2%;
  }
}
.intro h2 {
  font-family: 'Staatliches', cursive;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .intro h2 {
    margin-top: 4%;
  }
}
#skills {
  height: 20%;
  display: flex;
  justify-content: space-between;
  line-height: 1.5em;
}
@media (max-width: 500px) {
  #skills {
    height: 42%;
    padding: 2%;
  }
}
#skills .skill {
  width: 30%;
}
#skills p {
  font-family: 'Bitter', serif;
}
#skills i {
  margin-left: 45%;
  margin-bottom: 5%;
  margin-top: 5%;
}
#works {
  padding: 2% 2%;
  display: flex;
  line-height: 1.5em;
  background: #61d49a;
}
#works p {
  margin: 2% 2%;
  font-family: 'Bitter', serif;
}
#works ul {
  margin-left: 5%;
  list-style-type: square;
}
#works h2 {
  font-size: 1.5rem;
  margin: 2% 2%;
  font-family: 'Staatliches', cursive;
}
.education {
  display: flex;
  justify-content: space-evenly;
  padding: 4%;
  line-height: 1.5em;
}
@media (max-width: 500px) {
  .education {
    display: flex;
    flex-direction: column;
  }
}
.education ul {
  margin-left: 40%;
  list-style-type: square;
}
.education p {
  font-family: 'Bitter', serif;
}
.education h2 {
  text-decoration: underline;
  padding-bottom: 5%;
  font-size: 1.5rem;
  font-family: 'Staatliches', cursive;
}
footer {
  padding-top: 2%;
  height: 10%;
  text-align: center;
  background: #61d49a;
  line-height: 1.5em;
}
footer p {
  font-family: 'Bitter', serif;
}
